<ion-header>
	<ion-navbar color="primary">
		<button ion-button icon-only (click)="dismiss()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
		<ion-title>Décaissement: Details </ion-title>
	</ion-navbar>
</ion-header>

<ion-content  class="cent">
	<ion-card  *ngFor="let r of Decaissements_detail">
		<ion-card-content style="margin: 0px;">
			<ion-grid>
				<ion-row>

					<ion-col col-4 *ngIf="r.objetM">Motif</ion-col>
					<ion-col col-8 *ngIf="r.objetM">{{ r.objetM }} </ion-col>
					<ion-col col-4 *ngIf="r.objet && _SYGALIN.isDGEN()">Motif</ion-col>
					<ion-col col-8 *ngIf="r.objet && _SYGALIN.isDGEN() ">{{ r.objet }} </ion-col>

					<ion-col col-4 *ngIf="r.montant" >Montant demandé </ion-col>
					<ion-col col-8 ion-text color='danger' *ngIf="r.montant" >{{r.montant | number :"1.0-0"}} XAF </ion-col>
					<ion-col col-4 *ngIf="r.montantM" >Montant Validé </ion-col>
					<ion-col col-8 ion-text color='danger' *ngIf="r.montantM" >{{r.montantM | number :"1.0-0"}} XAF </ion-col>
					<ion-col col-4 *ngIf="!r.montantM" >Montant Validé </ion-col>
					<ion-col col-8 ion-text color='danger' *ngIf="!r.montantM" >{{ 0 | number :"1.0-0"}} XAF </ion-col>

					<ion-col col-4 *ngIf="r.d2Nom" >Département  </ion-col>
					<ion-col col-8 ion-text  *ngIf="r.d2Nom" >{{ r.d2Nom }} </ion-col>

					<ion-col col-4 *ngIf="r.bcNom" >Boutique </ion-col>
					<ion-col col-8 ion-text  *ngIf="r.bcNom" >{{ r.bcNom }} </ion-col>

					<ion-col col-4 *ngIf="r.pj"> fichier</ion-col>
					<ion-col col-8 *ngIf="r.pj" (click)="getUrlFile(r.pj)"> <button ion-button small round color="primary"> <ion-icon name="document" ></ion-icon> &nbsp; Piece jointe</button></ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card [formGroup]="formgroup" *ngIf="!_SYGALIN.isDGEN()">
		<ion-card-header  text-center >
			Orientation de la requête
		</ion-card-header>
		<ion-card-content style="margin: 0px;">
			<ion-grid>
				<ion-row>
					<ion-item>
						<ion-label color="primary"  floating class="item item-input item-select">
							Orienter vers
						</ion-label>
						<ion-select  formControlName="Shop" clearInput  >
							<ion-option *ngFor="let boutique of boutiques " value="{{boutique.id}}">{{boutique.nom | uppercase}}</ion-option>
							<ion-option  value="-1"> CAISSE PRINCIPALE </ion-option>
						</ion-select>
					</ion-item>

					<ion-col col-12 *ngIf="(_SYGALIN.isDFIN()) ">
						<ion-grid class="button-group">
							<ion-row>
								<ion-col>
									<!--<button ion-button block (click)="setForm(Decaissements_detail[0])"  color="secondary"
											class="medium">
										<ion-icon name="thumbs-up" start>&nbsp;</ion-icon>
										Valider
									</button>-->
									<button ion-button block (click)="call(Decaissements_detail[0])"  color="secondary"
											class="medium">
										<ion-icon name="thumbs-up" start>&nbsp;</ion-icon>
										Valider
									</button>
								</ion-col>
								<ion-col>
									<button ion-button block  color="danger" class="medium" (click)="presentConfirm(Decaissements_detail[0],'reject')">
										<ion-icon name="thumbs-down" end>&nbsp;</ion-icon>
										Invalider &nbsp;
									</button>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<!--<ion-card [formGroup]="formgroup_gen" *ngIf="_SYGALIN.isDGEN()">
		<ion-card-header  text-center >
			Traitement du decaissement
		</ion-card-header>
		<ion-card-content style="margin: 0px;">
			<ion-grid>
				<ion-row>
					<ion-item>
						<ion-label color="primary" floating>Montant <span>*</span></ion-label>
						<ion-input type="number" formControlName="montant"   [ngClass]="{
						'has-danger': invalidField1('montant'),
						'has-success': validField1('montant')
					      }"></ion-input>
					</ion-item>


					<ion-col col-12 *ngIf="(_SYGALIN.isDGEN()) ">
						<ion-grid class="button-group">
							<ion-row>
								<ion-col>
									<button ion-button block (click)="validateDisbursment()"  color="secondary"
											class="medium">
										<ion-icon name="thumbs-up" start>&nbsp;</ion-icon>
										Valider
									</button>
								</ion-col>
								<ion-col>
									<button ion-button block  color="danger" class="medium" (click)="presentConfirm(Decaissements_detail[0],'reject')">
										<ion-icon name="thumbs-down" end>&nbsp;</ion-icon>
										Invalider &nbsp;
									</button>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>-->

</ion-content>
