<ion-header>
	<ion-navbar color='primary'>
		<button ion-button menuToggle *ngIf="!navCtrl.canGoBack()">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ title }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="cent">
	<ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="">
		</ion-refresher-content>
	</ion-refresher>
	<ion-card  *ngFor="let r of listerecharge">
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-4 >Ticket: </ion-col>
					<ion-col col-8 >N° {{ r.num}}</ion-col>
					
					<ion-col col-4 >Etat du ticket: </ion-col>
					<ion-col col-8 *ngIf="r.state=='0'" ion-text color="warning">EN COURS.... </ion-col>
					<ion-col col-8 *ngIf="r.state=='1'" ion-text color="primary">TRAITÉ </ion-col>
					<ion-col col-8 *ngIf="r.state=='-1'" ion-text color='danger'> REJETÉ</ion-col>

					<ion-col col-4 *ngIf="r.state=='-1'">Motif du rejet :</ion-col>
					<ion-col col-8 *ngIf="r.state=='-1'"> {{ r.tkMotif}} </ion-col>
					
					<ion-col col-4>Ouvert le :</ion-col>
					<ion-col col-8>{{ _SYGALIN.momentjs(r.open_date).add(1,'h').format("DD MMMM YYYY à HH:mm:ss")}} </ion-col>
										
					<ion-col col-4 *ngIf="r.recharge=='1'">Fermé le :</ion-col>
					<ion-col col-8 *ngIf="r.recharge=='1'"> {{ _SYGALIN.momentjs(r.close_date).add(1,'h').format("DD MMMM YYYY à HH:mm:ss")}} </ion-col>


					<ion-col col-4>Demande: </ion-col>
					<ion-col col-8 ion-text color='secondary'>À CRÉDIT</ion-col>

					<ion-col col-4 *ngIf="r.recharge=='1'">Date de recharge: </ion-col>
					<ion-col col-8 *ngIf="r.recharge=='1'"> {{ r.date_recharge}} </ion-col>

					<ion-col col-4>Montant : </ion-col>
					<ion-col col-8 ion-text color='danger'>{{r.montant| number :"1.0-0"}} XAF </ion-col>
					
											   
					<ion-col col-4>Etat du traitement : </ion-col>
					<ion-col col-8 ><div style="color: #f7b731;">VOTRE CONTROLEUR </div></ion-col>

					<ion-col col-4 *ngIf="r.state==1">Á été traité par :</ion-col>
					<ion-col col-4 *ngIf="r.state==0">En cours de traitement par: </ion-col>
					<ion-col col-8 ion-text color='secondary'> 1</ion-col>
					
					</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	
	<ion-card *ngIf="!(listerecharge && listerecharge.length)">
		<ion-card-content class="text-error-msg">
			Aucun element trouv&eacute;...
		</ion-card-content>
	</ion-card>
</ion-content>


