<!--
  Generated template for the PerfreabonnementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Performances r&eacute;abonnements</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="cent" padding>
	<ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="">
		</ion-refresher-content>
	</ion-refresher>
	<br>
	<ion-card>
		<ion-card-title style="text-align: center">
			<strong class="position">Performances journali&egrave;res en r&eacute;abonnement</strong><br>
			<span style="font-size: 0.8em" *ngIf="_SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.start) && !_SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.end)">
				Jusqu'au {{ _SYGALIN.momentjs(_SYGALIN.viewPeriod.end).format("DD/MM/YYYY")}}
			</span>
			<span style="font-size: 0.8em" *ngIf="!_SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.start) && !_SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.end)">
				Du {{ _SYGALIN.momentjs(_SYGALIN.viewPeriod.start).format("DD/MM/YYYY")}} au {{ _SYGALIN.momentjs(_SYGALIN.viewPeriod.end).format("DD/MM/YYYY")}}
			</span>
			<span style="font-size: 0.8em" *ngIf="!_SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.start) && _SYGALIN.isEmptyVal(_SYGALIN.viewPeriod.end)">
				À partir du {{ _SYGALIN.momentjs(_SYGALIN.viewPeriod.start).format("DD/MM/YYYY")}}
			</span>
			<p><b>P</b>=Parc; <b>C.A</b>=Chiffre d'Affaire ;  <b>A</b>=ARPU</p>
		</ion-card-title>
		<ion-card-content style="overflow-x: auto">
			<table>
				<caption colspan="2" rowspan="3"></caption>
				<thead>
				<!-- En-tête du tableau -->
				<tr>
					<th rowspan="2">Date</th>
					<th colspan="2">Obj.</th>
					<th colspan="3">R&eacute;al.</th>
					<th rowspan="2">Perf.</th>
				</tr>
				<tr>
					<th>P</th>
					<th>C.A.</th>
					<th>P</th>
					<th>C.A.</th>
					<th>A</th>
				</tr>
				</thead>

				<tfoot>
				<!-- Pied de tableau -->
				<tr style="font-weight: bold">
					<th>TOTAL</th>
					<th>{{ objparc  | number :"1.0-0" }} </th>
					<th>{{ objreabo | number :"1.0-0" }} </th>
					<th>{{ realparc  | number :"1.0-0" }} </th>
					<th>{{ realreabo  | number :"1.0-0" }} </th>
					<th>{{ arpuGlobal  | number :"1.0-0" }} </th>
					<th *ngIf="perfglobal<100" class="text-red">{{ perfglobal }} %</th>
					<th *ngIf="perfglobal>=100" class="text-green">{{ perfglobal }} %</th>
				</tr>
				</tfoot>

				<tbody>
				<!-- Corps du tableau -->
				<ng-container  *ngFor="let item of performs; let ind=index">
					<tr *ngIf="ind>0 && (_SYGALIN.momentjs(item.fullDate).format('MM')!==_SYGALIN.momentjs(performs[ind-1].fullDate).format('MM'))">
						<td colspan="8" style="text-align: center">{{ _SYGALIN.momentjs(item.fullDate).format('MMMM YYYY')|uppercase }}</td>
					</tr>
					<tr  [ngClass]="{
						'is-today': (item.fullDate) == _SYGALIN.momentjs().format('YYYY-MM-DD'),
						'is-yesterday': (item.fullDate) > _SYGALIN.momentjs().format('YYYY-MM-DD')
					      }">
						<td>{{ item.date }}</td>
						<td>{{ item.objectifParc  | number :"1.0-0" }}</td>
						<td>{{ item.objectifreabo  | number :"1.0-0" }}</td>
						<td class="couleurreal">{{ item.nbrparc }}</td>
						<td class="couleurreal">{{ item.montant  | number :"1.0-0" }}</td>
						<td class="couleurreal">{{ item.arpu  | number :"1.0-0" }}</td>
						<td *ngIf="item.performanceReabo<100" class="text-red">{{ item.performanceReabo }} %</td>
						<td *ngIf="item.performanceReabo>=100" class="text-green">{{ item.performanceReabo }} %</td>
					</tr>
				</ng-container>

				</tbody>
			</table>

		</ion-card-content>
	</ion-card>

	<br>
</ion-content>
