<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle *ngIf="!navCtrl.canGoBack()">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>MES TRANSACTIONS</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="cent">

  <form class="cent" [formGroup]="formgroup">

    <ion-card center style=" padding-bottom: 0;">
      
      <ion-card-content style="padding: 7px">
         
        <ion-grid class="button-group">
            <ion-row>
                <ion-col>
                  <ion-item style="padding-left: 0" >
                    <ion-label floating color="primary" class="item item-input item-select">
                      <div class="input-label">
                        Mois <span>*</span>
                      </div>
                    </ion-label>   
                    <ion-select formControlName="mois" clearInput  [ngClass]="{
                      'has-danger': invalidField('mois'),
                      'has-success': validField('mois')
                          }">
                      <ion-option value="01">JANVIER</ion-option>
                      <ion-option value="02">FEVRIER</ion-option>
                      <ion-option value="03">MARS</ion-option>
                      <ion-option value="04">AVRIL</ion-option>
                      <ion-option value="05">MAI</ion-option>
                      <ion-option value="06">JUIN</ion-option>
                      <ion-option value="07">JUILLET</ion-option>
                      <ion-option value="08">AOUT</ion-option>
                      <ion-option value="09">SEPTEMBRE</ion-option>
                      <ion-option value="10">OCTOBRE</ion-option>
                      <ion-option value="11">NOVEMBRE</ion-option>
                      <ion-option value="12">DECEMBRE</ion-option>
                    </ion-select>

                  
                  <div *ngIf="invalidField('mois')" class="validator-error validation-summary-errors">
                    Le champ Mois est obligatoire
                  </div>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                  <ion-item style="padding-left: 0" >
                    <ion-label floating color="primary" class="item item-input item-select">
                      <div class="input-label">
                        Année <span>*</span>
                      </div>
                    </ion-label> 
                    <ion-select  clearInput formControlName="annee" [ngClass]="{
                      'has-danger': invalidField('annee'),
                      'has-success': validField('annee')
                          }">
                      <ion-option value="1">{{curentyear}}</ion-option>
                      <ion-option value="2">{{lastyear}}</ion-option>
                    </ion-select>
                  </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-content>

            <ion-card>
              <ion-card-content>
                <div>
                <button ion-button block  (click)="searchInfos()" class="rounded">AFFICHER LA SELECTION</button>
              </div>
            </ion-card-content>
          </ion-card>
              
    </ion-card>
</form>
    <br>

		<ion-card center>
			<ion-card-content>
			  <ion-card>
         
          <ion-card-content style="overflow-x: auto">
            <table>
              <caption colspan="2" rowspan="3"></caption>
              <thead>
              <!-- En-tête du tableau -->
              <tr>
                <th rowspan="2" >Date</th>
                <th rowspan="2" >Solde d'entréé</th>
                <th rowspan="2" >Versement</th>
                <th rowspan="2" >Activation & Matériel</th>
                <th rowspan="2" >Solde sortie</th>
              </tr>
             
              </thead>
      
                    
              <tbody>
              <!-- Corps du tableau -->
              <ng-container  *ngFor="let item of soldecga; let ind=index">
               <!--*ngFor="let item of soldecga; let ind=index"-->
                <tr>
                  <td class="couleurreal">{{item.jour}}</td>
                  <td class="couleurreal">{{item.soldeE }} </td>
                  <td class="couleurreal">{{item.versement }} </td>
                  <td class="couleurreal">{{item.activation }}</td>
                  <td class="couleurreal">{{item.soldeS }} </td>
                  
                </tr>
              </ng-container>
      
              </tbody>
            </table>
      
          </ion-card-content>
        </ion-card>
				
					
			</ion-card-content>
	
    </ion-card>  
  <br>

</ion-content>
