<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Accueil
		</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="animated fadeIn">
	<ng-container *ngIf="!_SYGALIN.isDG()">
		<!-- INFORMATION SUR LA DETTE EN COURS -->
		<ion-card *ngIf="_SYGALIN.outUser.nbre==0 && (_SYGALIN.isFVI() || _SYGALIN.isAAD())"  class="alert-card" style="padding: 0 !important; background-color:  #e85e5e; border-radius: 20px">
			<ion-card-content style="margin: 0 !important; padding: 0">
				<ion-grid style="margin: 0 !important;">
					<ion-row>
						<ion-col col-2="">
							<ion-icon name="alert" color="text-light" style="font-size: 60px; margin-top: 9px"></ion-icon>
						</ion-col>
						<ion-col col-10="">
							<p align="justify" style="color: #fff; padding-right: 9px">
								{{ _SYGALIN.outUser.alert }}
							</p>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
		<ng-container *ngIf="_SYGALIN.isAAD() || _SYGALIN.isFVI()">
			<ion-card *ngIf="_SYGALIN.unreadDetteObservable!==undefined &&  _SYGALIN.unreadDetteObservable!==null && _SYGALIN.unreadDetteObservable>0 && _SYGALIN.isFVI() " class="alert-card" style="padding: 0 !important; background-color:  #e85e5e; border-radius: 20px">
				<ion-card-content style="margin: 0 !important; padding: 0">
					<ion-grid style="margin: 0 !important;">
						<ion-row>
							<ion-col col-2="">
								<ion-icon name="alert" color="text-light" style="font-size: 60px; margin-top: 9px"></ion-icon>
							</ion-col>
							<ion-col col-10="">
								<p align="justify" style="color: #fff; padding-right: 9px">
									Vous avez une dette non remboursée <br> du <strong>{{_SYGALIN.momentjs(_SYGALIN.debtDay).format('DD MMM YYYY')}}</strong>.<br>
									Vous pouvez utiliser les formulaires pour évaluer les coûts, mais ne pouvez effectuer aucun enregistrement.
								</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>
			<ion-card *ngIf="_SYGALIN.unreadDetteObservable===undefined || _SYGALIN.unreadDetteObservable===null" class="alert-card" style="padding: 0 !important; background-color:  #fbfbff; border-radius: 27px">
				<ion-card-content style="margin: 0 !important; padding: 0">
					<ion-grid style="margin: 0 !important;">
						<ion-row>
							<ion-col col-2="">
								<ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner>
							</ion-col>
							<ion-col col-10="">
								<p align="justify" style="color: #fff; padding-right: 9px">
								</p>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>
		</ng-container>
	</ng-container>


<!--panel des RFVI et RAA-->
	<ion-grid *ngIf="_SYGALIN.isRFVI() || _SYGALIN.isRAA()">
		<ion-item style="text-align: center; border-radius: 15px; color: dimgrey; font-weight: bold">
			TICKETS À TRAITER
		</ion-item>


		<ion-row >
			<ion-col col-4>
				<ion-card class="full-width blackText " (tap)="mesRecrutements()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadRecruObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadRecruObservable}}</ion-badge>
					<ion-icon name="person-add"  item-start></ion-icon>
					<br>
					RECRUS
				</ion-card>
			</ion-col>
			<ion-col col-4 >
				<ion-card  class="full-width blackText " (tap)="mesReabonnements()"  ion-button style="color: #000000">
					<ion-badge style="position: fixed; margin-left: 48px; margin-top: -16px;" color="{{_SYGALIN.unreadReaboObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReaboObservable}}</ion-badge>
					<ion-icon name="sync"  item-start></ion-icon><br>
					R&Eacute;ABOS
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width blackText "    (tap)="mesReabonnementsSvod()"  ion-button style="color: #000000">
					<ion-icon name="refresh"  item-start></ion-icon>
					<br>
					<ion-badge style="position: fixed; margin-left: 57px; margin-top: -51px;" color="{{_SYGALIN.unreadReaboSvodObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReaboSvodObservable}}</ion-badge>
					R&Eacute;ABOS<br>SVOD
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width blackText "    (tap)="mesReabonnementsSvod()"  ion-button style="color: #000000">
					<ion-icon name="refresh"  item-start></ion-icon>
					<br>
					<ion-badge style="position: fixed; margin-left: 57px; margin-top: -51px;" color="{{_SYGALIN.unreadReaboSvodObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReaboSvodObservable}}</ion-badge>
					R&Eacute;ABOS<br>SVOD
				</ion-card>
			</ion-col>

			<ion-col col-4 *ngIf="_SYGALIN.isRAA()">
				<ion-card class="full-width blackText "   (tap)="rechPre()"  ion-button style="color: #000000">
					<ion-icon name="cash"  item-start></ion-icon>
					<br>
					<ion-badge style="position: fixed; margin-left: 57px; margin-top: -51px;" color="{{_SYGALIN.unreadReaboSvodObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReaboSvodObservable}}</ion-badge>
					COMPTE<br>FIN
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!--PANEL DES FVI/VAD/AAD -->
	<ion-grid *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD() || _SYGALIN.isRESPO_AG()">
		<ion-item style="text-align: center; border-radius: 15px; color: dimgrey; font-weight: bold" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()|| _SYGALIN.isRESPO_AG()">
			TABLEAU DE BORD
		</ion-item>


		<ion-row >
			<ion-col col-4 >
				<ion-card  class="full-width bgprimary colorText" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesReabonnements()"  ion-button>
					<ion-icon name="sync" color="primary" item-start></ion-icon><br>
					R&Eacute;ABOS
				</ion-card>
			</ion-col>

			
			<ion-col col-4>
				<ion-card class="full-width bgreabosvod colorText"   *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesReabonnementsSvod()"  ion-button>
					<ion-icon name="refresh" color="primary" item-start></ion-icon>
					<br>
					R&Eacute;ABOS<br>SVOD
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width bgrecru colorText" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesRecrutements()"  ion-button>

					<ion-icon name="person-add" color="primary" item-start></ion-icon>
					<br>
					RECRUS
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width bgmigr  colorText"  *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesMigrations()"  ion-button>
					<ion-icon name="swap" color="primary" item-start></ion-icon>
					<br>
					MIGRATIONS
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width bgreq colorText" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesReq()"  ion-button>
					<ion-icon name="help-circle-outline" color="primary" item-start></ion-icon>
					<br>
					REQ. VERS <br>GROSSISTE
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width  bgpros colorText" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="prospectOfDay()"  ion-button>
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadProspectObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadProspectObservable}}</ion-badge>
					<ion-icon name="contacts" color="primary" item-start></ion-icon>
					<br>
					PROSPECTS
				</ion-card>
			</ion-col>
			<ion-col col-4>
				<ion-card class="full-width bgremun colorText" *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()" (tap)="mesCommission()"  ion-button>
					<ion-icon name="cash" color="primary" item-start></ion-icon>
					<br>
					REMUN.
				</ion-card>
			</ion-col>
			
			<ion-col col-4 *ngIf="_SYGALIN.isAAD()">
				<ion-card class="full-width blackText " (tap)="refrequesttotreat()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadRequestRefToTreatObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadRequestRefToTreatObservable}}</ion-badge>
					<ion-icon name="card"  item-start></ion-icon>
					<br>
					<!--R&Eacute;ABOS<br>-->
					Requette pour <br>reference a traiter
				</ion-card>
			</ion-col>
			
			<!--<ion-col col-4>
				<ion-card class="full-width  blackText "   (tap)="Cmdb()"  ion-button style="color: #000000">
					<ion-badge style="position: fixed; margin-left: 46px; margin-top: -16px;" color="{{_SYGALIN.unreadMigrObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadMigrObservable}}</ion-badge>
					<ion-icon name="swap"  item-start></ion-icon>
					<br>
					CMD B
				</ion-card>
			</ion-col>-->
		</ion-row>
	</ion-grid>

	<!--IMAGE DE LA PROMOTION EN COURS-->
	<!--<ion-card *ngIf="_SYGALIN.promoImage">
		<img id="promo-img" src="data:image/jpg;base64,{{_SYGALIN.promoImage}}" alt="base64">
	</ion-card>-->

	<!-- PANEL DES ADMINISTRATEURS (DV/DG/PDG CANAL+) -->
	<ng-container *ngIf="_SYGALIN.isDG()">
		<ion-card>
			<ion-card-title style="text-align: center; margin-top: 0; margin-bottom: 0; background-color: #2374b7; color: white">
				Réalisations globales
			</ion-card-title>
			<ion-card-content>
				<table>
					<tr>
						<th class="center">Recru.</th>
						<th class="center">Parc</th>
						<th class="center">Migr.</th>
					</tr>
					<tr>
						<td class="center">
							<span *ngIf="_SYGALIN._GLOBAL_STATS!==undefined">
								{{_SYGALIN._GLOBAL_STATS.global.recrutement[0].nbr| number :"1.0-0"}}
							</span>
							<span *ngIf="_SYGALIN._GLOBAL_STATS===undefined">
								<ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner>
							</span>
						</td>
						<td class="center">
							<span *ngIf="_SYGALIN._GLOBAL_STATS!==undefined">
								{{_SYGALIN._GLOBAL_STATS.global.reabonnement[0].parcSum| number :"1.0-0"}}
							</span>
							<span *ngIf="_SYGALIN._GLOBAL_STATS===undefined">
								<ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner>
							</span>
						</td>
						<td class="center">
							<span *ngIf="_SYGALIN._GLOBAL_STATS!==undefined">
								{{_SYGALIN._GLOBAL_STATS.global.migration[0].nbr| number :"1.0-0"}}
							</span>
							<span *ngIf="_SYGALIN._GLOBAL_STATS===undefined">
								<ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner>
							</span>
						</td>
					</tr>

				</table>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-title style="text-align: center; margin-top: 0; margin-bottom: 0; background-color: #d0923d; color: white">
				Top recrutements par secteur
			</ion-card-title>
			<ion-card-content>
				<table>
					<tr>
						<th>Nom</th>
						<th>Recru.</th>
						<th>Parc</th>
						<th>Migr.</th>
						<th>Option</th>
					</tr>


					<ng-container *ngIf="_SYGALIN._GLOBAL_STATS===undefined">
						<tr >
							<td><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td color="text-light" ><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
						</tr>
					</ng-container>
					<ng-container *ngIf="_SYGALIN._GLOBAL_STATS!==undefined">
						<tr *ngFor="let s of _SYGALIN.getStatSectors()">
							<td>{{ s.name }}</td>
							<td class="center">{{ s.recru | number :"1.0-0"  }}</td>
							<td class="center">{{ s.parc | number :"1.0-0"  }}</td>
							<td class="center">{{ s.migr | number :"1.0-0"  }}</td>
							<td ion-button color="text-light"  (tap)="seeDetails('bysec', s.id)"><ion-icon name="more"></ion-icon></td>
						</tr>
					</ng-container>

					<!--<tr *ngFor="let ind of [1, 2, 3, 4, 5]">
						<td>{{ 'SEC'+ind }}</td>
						<td class="center">{{  (6+(13-ind)*(13-ind)*2) }}</td>
						<td class="center">{{ind*2*36}}</td>
						<td class="center">{{(1+ind)*5}}</td>
						<td ion-button color="text-light"  (tap)="seeDetails('bysec', ind)"><ion-icon name="more"></ion-icon></td>
					</tr>-->
				</table>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-card-title style="margin-top: 0; margin-bottom: 0; background-color: #32b52a; color: white">
				Top recrutements par équipe de VAD
			</ion-card-title>
			<ion-card-content>
				<table>
					<tr>
						<th>Nom</th>
						<th>Recru.</th>
						<th>Parc</th>
						<th>Migr.</th>
						<th>Option</th>
					</tr>
					<ng-container *ngIf="_SYGALIN._GLOBAL_STATS===undefined">
						<tr>
							<td><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td class="center"><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
							<td color="text-light" ><ion-spinner name="crescent" color="primary" style="font-size: 60px; margin-top: 9px"></ion-spinner></td>
						</tr>
					</ng-container>
					<ng-container *ngIf="_SYGALIN._GLOBAL_STATS!==undefined">
						<tr *ngFor="let cb of _SYGALIN.getFirstCBs()">
							<td>{{cb.name }} ({{_SYGALIN.getStatSector(cb.secteur).code}})</td>
							<td class="center">{{ cb.recru| number :"1.0-0"  }}</td>
							<td class="center">{{ cb.parc| number :"1.0-0"  }}</td>
							<td class="center">{{cb.migr| number :"1.0-0"  }}</td>
							<td ion-button color="text-light"  (tap)="seeDetails('bycb', cb.secteur, cb.id)"><ion-icon name="more"></ion-icon></td>
						</tr>
					</ng-container>
				</table>
			</ion-card-content>
		</ion-card>
	</ng-container>

	<!-- PANEL DFIN -->
	<ion-grid *ngIf="_SYGALIN.isDFIN() || _SYGALIN.isCM() || _SYGALIN.isCONTROL() || _SYGALIN.isSUPER() || _SYGALIN.isDG() || _SYGALIN.isPDG() || _SYGALIN.isCOMPTAG() || _SYGALIN.isRDSI() ||
	 _SYGALIN.isDEV() || _SYGALIN.isRT() || _SYGALIN.isDGEN() ">
		<ion-item style="text-align: center; border-radius: 15px; color: dimgrey; font-weight: bold">
			TICKETS À TRAITER
		</ion-item>


		<ion-row >
			<ion-col col-4 *ngIf="_SYGALIN.isDFIN() || _SYGALIN.isCM() || _SYGALIN.isCONTROL() || _SYGALIN.isSUPER()">
				<ion-card class="full-width blackText " (tap)="cga()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadCgapostObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadCgapostObservable}}</ion-badge>
					<ion-icon name="cash"  item-start></ion-icon>
					<br>
					CGA POST.
				</ion-card>
			</ion-col>
			<ion-col col-4 *ngIf="_SYGALIN.isDFIN() || _SYGALIN.isRAA()">
				<ion-card class="full-width blackText " (tap)="rechPre()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadFinanceObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadFinanceObservable}}</ion-badge>
					<ion-icon name="card"  item-start></ion-icon>
					<br>
					COMPTE <br> FINANCIER
				</ion-card>
			</ion-col>

			<ion-col col-4 *ngIf="_SYGALIN.isDFIN()">
				<ion-card class="full-width blackText " (tap)="refrequest()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadRefRequestObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadRefRequestObservable}}</ion-badge>
					<ion-icon name="card"  item-start></ion-icon>
					<br>
					R&Eacute;ABOS <br> PR&Eacute;PAY&Eacute;
				</ion-card>
			</ion-col>
			

			<ion-col col-4 *ngIf="_SYGALIN.isDFIN() || _SYGALIN.isCM()">
				<ion-card class="full-width blackText " (tap)="cgaPre()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadCgapreObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadCgapreObservable}}</ion-badge>
					<ion-icon name="cash"  item-start></ion-icon>
					<br>
					CGA PRÉ.
				</ion-card>
			</ion-col>
			<ion-col col-4 *ngIf="_SYGALIN.isCONTROL() || _SYGALIN.isSUPER() || _SYGALIN.isDFIN()">
				<ion-card class="full-width blackText " (tap)="loadMemo()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadMemosObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadMemosObservable}}</ion-badge>
					<ion-icon name="cash"  item-start></ion-icon>
					<br>
					MÉMOS
				</ion-card>
			</ion-col>
			<ion-col col-4 *ngIf=" _SYGALIN.isDFIN()">
				<ion-card class="full-width blackText " (tap)="loadCashing()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadVersementObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadVersementObservable}}</ion-badge>
					<ion-icon name="cash"  item-start></ion-icon>
					<br>
					VERSEMENT
				</ion-card>
			</ion-col>
			<ion-col col-4 *ngIf="_SYGALIN.isPDG() || _SYGALIN.isDFIN()">
				<ion-card class="full-width blackText " (tap)="mesOdm()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadOdmObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadOdmObservable}}</ion-badge>
					<ion-icon name="navigate"  item-start></ion-icon>
					<br>
					ORDRE DE<br>MISSION
				</ion-card>
			</ion-col>
			<!--panel pour decaissement  a ouvrir apres-->
				<ion-col col-4 *ngIf="_SYGALIN.isPDG() || _SYGALIN.isDFIN() || _SYGALIN.isDG() || _SYGALIN.isCOMPTAG() || _SYGALIN.isDGEN()">
					<ion-card class="full-width blackText " (tap)="disbursement()"  ion-button style="color: #000000 !important">
						<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadReqDisbursmenObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReqDisbursmenObservable}}</ion-badge>
						<ion-icon name="trending-down"  item-start></ion-icon>
						<br>
						DECAISSEMENT
					</ion-card>
				</ion-col>
			<ion-col col-4 *ngIf="_SYGALIN.isDEV() || _SYGALIN.isRDSI() || _SYGALIN.isRT() || _SYGALIN.isPDG()">
				<ion-card class="full-width blackText " (tap)="mesDSI()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadReqDsiObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReqDsiObservable}}</ion-badge>
					<ion-icon name="help-circle"  item-start></ion-icon>
					<br>
					REQUETTE <br>DSI
				</ion-card>
			</ion-col>
			<ion-col col-4 *ngIf="_SYGALIN.isDFIN()">
				<ion-card class="full-width blackText " (tap)="refrequesttotretDFIN()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadRequestRefToTreatObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadRequestRefToTreatObservable}}</ion-badge>
					<ion-icon name="card"  item-start></ion-icon>
					<br>
				
					Requette pour <br>reference a traiter
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!--panel des RDSI et DEV -->

	<!--<ion-grid *ngIf="_SYGALIN.isDEV() || _SYGALIN.isRDSI() || _SYGALIN.isRT() || _SYGALIN.isPDG()">
		<ion-item style="text-align: center; border-radius: 15px; color: dimgrey; font-weight: bold">
			TICKETS À TRAITER
		</ion-item>
		<ion-row >
			<ion-col col-4>
				<ion-card class="full-width blackText " (tap)="mesDSI()"  ion-button style="color: #000000 !important">
					<ion-badge style="position: fixed; margin-left: 44px; margin-top: -16px;" color="{{_SYGALIN.unreadReqDsiObservable==0?'secondary':'danger'}}" class="cbadge" item-end>{{_SYGALIN.unreadReqDsiObservable}}</ion-badge>
					<ion-icon name="help-circle"  item-start></ion-icon>
					<br>
					REQUETTE <br>DSI
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>-->

	<!-- PANEL DES NOTIFICATIONS -->
	<!--<div style="height: 400px"  *ngIf="_SYGALIN.notifications!==undefined && _SYGALIN.notifications!==null">
		<ion-card style="border-radius: 11px">
			<ion-card-header style="margin: 0; padding: 5px; background-color: #0f65a4 ;text-align: center; border-bottom: 1px solid lightgrey; font-weight: bolder; color: white">
				<ion-icon name="information-circle-outline" color="white"></ion-icon>
			</ion-card-header>
			<ion-card-content>
				<ion-slides pager loop="true" autoplay="5000">
					<ion-slide *ngFor="let n of _SYGALIN.promoImg" style="padding: 25px !important;">
						<img id="promo-img" src="data:image/jpg;base64,{{ n }}" alt="base64">
					</ion-slide>
					<ion-slide *ngFor="let n of _SYGALIN.notifications" style="padding: 25px !important;">
						<p style="font-size: 1.2em; font-weight: lighter" [innerHTML]="n.message"></p>
					</ion-slide>
				</ion-slides>
			</ion-card-content>
		</ion-card>
	</div>-->



	<!--BOUTON FLOTTANT POUR LES FVI/VAD/AAD-->
	<ion-fab bottom right *ngIf="_SYGALIN.isFVI() || _SYGALIN.isAAD()">
		<button ion-fab color="primary">
			<ion-icon name="add"></ion-icon>
		</button>
		<ion-fab-list side="top">
			<button ion-fab (click)="newRecruitement()">
				<ion-icon name="person-add"></ion-icon>
			</button>
			<button ion-fab (click)="newRenewal()">
				<ion-icon name="sync"></ion-icon>
			</button>
			<button ion-fab (click)="newMigration()">
				<ion-icon name="swap"></ion-icon>
			</button>
		</ion-fab-list>
	</ion-fab>
</ion-content>


<!-- FOOTER -->
<ion-footer translucent="true" transparent text-center>
	<ion-toolbar color="primary">
		<div style="display:inline-block; float: left; color: #fff; font-weight: bold; font-size: 1.2em">
			SYGALIN TVSAT&reg;
		</div>
		<span style="font-size: small"  style="color: #fff;display:inline-block" left end>Version</span>
		<img src="../../assets/imgs/canal.png" style="width: 29%; display:inline-block; float: right" left end>
	</ion-toolbar>
</ion-footer>
