page-upgrade {
	.cent{
		text-align: center;
		background: #d1e1f9 !important;
	}

	/*ion-input{
      border-bottom: 1px solid rgba(108, 134, 121, 0.71);
    }

    ion-select{
      border-bottom: 1px solid rgba(108, 134, 121, 0.71);
    }*/

	ion-input, ion-select {
		width: 100%;
		//height: 20pxc;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 11px;
		border: 0.5px solid grey;
		//margin-top: -10px;
		padding-left: 10px;
		-moz-box-shadow:    inset 0 0 3px #a7a7a7;
		-webkit-box-shadow: inset 0 0 3px #a7a7a7;
		box-shadow:         inset 0 0 3px #a7a7a7;
		&:focus, &:focus-within{
			border: 1.2px solid #7c94ee;
			//box-shadow:  0px 0px 3px 6px #ccc;
		}
	}

	div.select-text{
		padding-left: 10px;
	}

	div.select-icon{
		margin-right: 11px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		//margin: 0;
	}

	ion-label{
		font-size: 15px;
		color: dimgrey! important;
		padding-left: 10px;
		&span{
			color: red !important;
		}
	}

	ion-label span{
		color: red !important;
	}

	.card-ios{
		border-radius: 20px;
		padding-bottom: 30px;
	}
	.validator-error{
		color: #ff1717;
		//font-weight: bold;
	}

	.has-danger{
		border: 1.2px solid #ff1717 !important;
	}

	.has-success{
		border: 1.2px solid #13d006 !important;
	}

	.to-search{
		.item-inner{
			padding-right: 0 !important;
		}
	}
}

page-upgrade-modal {
	.cent{
		text-align: center;
		background: #d1e1f9 !important;
	}

	/*ion-input{
      border-bottom: 1px solid rgba(108, 134, 121, 0.71);
    }

    ion-select{
      border-bottom: 1px solid rgba(108, 134, 121, 0.71);
    }*/

	ion-input, ion-select, ionic-selectable, ion-datetime {
		width: 100%;
		//height: 20pxc;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 11px;
		border: 0.5px solid grey;
		//margin-top: -10px;
		padding-left: 10px;
		-moz-box-shadow:    inset 0 0 3px #a7a7a7;
		-webkit-box-shadow: inset 0 0 3px #a7a7a7;
		box-shadow:         inset 0 0 3px #a7a7a7;
		&:focus, &:focus-within{
			border: 1.2px solid #7c94ee;
			//box-shadow:  0px 0px 3px 6px #ccc;
		}
	}

	div.select-text{
		padding-left: 10px;
	}

	div.select-icon{
		margin-right: 11px;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		//margin: 0;
	}

	ion-label{
		font-size: 15px;
		color: dimgrey! important;
		padding-left: 10px;
	}

	ion-card-header{
		border-bottom: 1px solid lightgray;
	}

	.card-ios{
		border-radius: 20px;
		padding-bottom: 30px;
	}
	.validator-error{
		color: #ff1717;
		//font-weight: bold;
	}

	.has-danger{
		border: 1.2px solid #ff1717 !important;
	}

	.has-success{
		border: 1.2px solid #13d006 !important;
	}
}

